@(status:String, signupForm:Form[Member])
@import helper._

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Business Informatics Group Quiz - @Messages("authentication.registry")</title>
        <link rel="stylesheet" type="text/css" href="assets/stylesheets/main.css" />
        <script src="assets/javascripts/jquery-1.9.0.min.js" type="text/javascript"></script>
        <script src="assets/javascripts/framework.js" type="text/javascript"></script>
    </head>
    <body id="registerpage">
        <a class="accessibility" href="register">@Messages("registration.gotoregistration")</a>
        <header role="banner" aria-labelledby="mainheading"><h1 id="mainheading"><span class="accessibility">Business Informatics Group</span> Quiz</h1></header>
        <nav role="navigation" aria-labelledby="navheading">
            <h2 id="navheading" class="accessibility">Navigation</h2>
            <ul>
                <li><a id="loginlink" title="Klicke hier um dich anzumelden" href="logout" accesskey="l">@Messages("authentication.loginButton")</a></li>
            </ul>
        </nav>
        <section role="main" id="register" aria-labelledby="registerheading">
            <!-- Register section -->
            <h2 id="registerheading" class="accessibility">@Messages("authentication.registration")</h2>
        	@helper.form(action = routes.Registration.signup(), 'novalidate -> "novalidate"){
        	
                <fieldset>
                    <legend>@Messages("registration.personalinformations")</legend>
                    
                    @helper.inputText(signupForm("firstName"),
                    	'_label -> Messages("registration.firstname")
                	)
                    
                    @helper.inputText(signupForm("lastName"),
                    	'_label -> Messages("registration.lastname")
                	)
                	
                	@helper.inputText(signupForm("birthDate"),
                    	'_label -> Messages("registration.birthdate"),
                    	'placeholder -> "dd.mm.yyyy",
                    	'_showErrors -> false
                	)
                    @for(error <- signupForm("birthDate").errors) {
						<div id="error_msg_birthdate" class="" role="alert">@error.message</div>
					}
                    
                    @select(signupForm("gender"),
                    	options("m"-> Messages("registration.man"), "f"-> Messages("registration.woman")),
                    	'_label ->  Messages("registration.gender")
                    )
                    
                </fieldset>
                <fieldset>
                    <legend>@Messages("registartion.logindata")</legend>
                                        
                    @helper.inputText(signupForm("userName"),
                    	'_label -> Messages("authentication.username"),
                    	'pattern -> "\\w{4,8}",
                    	'required -> "required",
                    	'_showErrors -> false
                	)
                	@for(error <- signupForm("userNameLength").errors) {
						<div id="error_msg_username" class="" role="alert">@error.message</div>
					}
                	@for(error <- signupForm("userNameUsed").errors) {
						<div id="error_msg_username" class="" role="alert">@error.message</div>
					}
					
					@helper.inputPassword(signupForm("password"),
                    	'_label -> Messages("authentication.password"),
                    	'pattern -> "\\w{4,8}",
                    	'required -> "required",
                    	'_showErrors -> false
                	)
                	@for(error <- signupForm("password").errors) {
						<div id="error_msg_password" class="" role="alert">@error.message</div>
					}
                    
                    <input id="registersubmit" type="submit" value='@Messages("registration.register")' accesskey="s"/>
                    <p id="requiredhint">@Messages("registration.info")</p>
                </fieldset>
            }
        </section>

        <!-- footer -->
        <footer role="contentinfo">© 2014 BIG Quiz</footer>
    </body>
</html>
