@(game: QuizGame, user: User, computer: User, answersOverviewUser: List[String], answersOverviewComputer: List[String])

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Business Informatics Group Quiz - @Messages("roundover.score")</title>
        <link rel="stylesheet" type="text/css" href="assets/stylesheets/main.css" />
        <script src="assets/javascripts/jquery-1.9.0.min.js" type="text/javascript"></script>
        <script src="assets/javascripts/framework.js" type="text/javascript"></script>
    </head>
    <body id="winnerpage">
        <a class="accessibility" href="#roundwinner">@Messages("roundover.gotoroundrating")</a>
        <header role="banner" aria-labelledby="mainheading"><h1 id="mainheading"><span class="accessibility">Business Informatics Group</span> Quiz</h1></header>
        <nav role="navigation" aria-labelledby="navheading">
            <h2 id="navheading" class="accessibility">Navigation</h2>
            <ul>
                <li><a id="logoutlink" title="Klicke hier um dich abzumelden" href="logout" accesskey="l">@Messages("index.logout")</a></li>
            </ul>
        </nav>
        
        <section role="main">
            <!-- winner message -->
            <section id="roundwinner" aria-labelledby="roundwinnerheading">
                <h2 id="roundwinnerheading" class="accessibility">@Messages("roundover.roundscore")</h2>
                <p class="roundwinnermessage">@game.getCurrentRound().getRoundWinner().getName() @Messages("quizover.win") @Messages("roundover.round") @game.getCurrentRoundCount()!</p>
            </section>
        
            <!-- round info -->    
            <section id="roundinfo" aria-labelledby="roundinfoheading">
                <h2 id="roundinfoheading" class="accessibility">@Messages("quiz.playerinformations")</h2>
                <div id="player1info" class="playerinfo">
                    <span id="player1name" class="playername">@game.getPlayers().get(0).getName()</span>
                    <ul class="playerroundsummary">
                       	@for((answer, index) <- answersOverviewUser.zipWithIndex){
                    		<li><span class="accessibility">@Messages("quiz.question") @index:</span><span id="player1answer@index" class="@answer">@Messages("quiz.@answer")</span></li>
                    	}
                    </ul>
                    <p id="player1roundcounter" class="playerroundcounter">@Messages("quizover.wonrounds"): <span id="player1wonrounds" class="playerwonrounds">@game.getWonRounds(user)</span></p>
                </div>
                <div id="player2info" class="playerinfo">
                    <span id="player2name" class="playername">@game.getPlayers().get(1).getName()</span>
                    <ul class="playerroundsummary">
                        @for((answer, index) <- answersOverviewComputer.zipWithIndex){
                    		<li><span class="accessibility">@Messages("quiz.question") @index:</span><span id="player2answer@index" class="@answer">@Messages("quiz.@answer")</span></li>
                    	}
                    </ul>
                    <p id="player2roundcounter" class="playerroundcounter">@Messages("quizover.wonrounds"): <span id="player2wonrounds" class="playerwonrounds">@game.getWonRounds(computer)</span></p>
                </div>
                
                @helper.form(action = routes.Play.newRound()){
                	<input id="next" type="submit" value='@Messages("roundover.continue")' accesskey="s"/>
                }
            </section>
        </section>

        <!-- footer -->
        <footer role="contentinfo">© 2014 BIG Quiz</footer>
    </body>
</html>
